*{
  margin: 0;
  left: 0;
  box-sizing: border-box;
}

body{
  background-color: grey;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 20px;
  background-color: #000;
}

h1{
  color: red;
  font-size: 30px;
  font-weight: bolder;
}

.flag{
  width:15px;
}

.fas{
  color: yellow;
}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.template{
  display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    padding: 20px;
    margin: 10px 20px;
    height: 360px;
    background: rgb(46, 58, 70);
    text-align: center;
} */
