*{
  margin: 0;
  left: 0;
  box-sizing: border-box;
}

body{
  background-color: #4E5055;
  font-family: 'Epilogue', sans-serif;
}

.all-container{
  display:none;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 20px;
  background-color: #000;
}

.background-container{
  position: relative;
  height:100vh;
  width:99vw;
  background-color: #000;
}

.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: red;
  font-size: 100px;
  font-weight: bolder;
  text-align: center;
}

.header-logo{
  color: red;
  font-size: 50px;
  font-weight: bolder;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin: 20px;
}

.flag{
  width:15px;
}

.fas{
  color: yellow;
}

.container-movies, .container-tv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.template{
  float: left;
}

img.poster {
  padding: 10px;
  width: 342px;
  height: 530px;
}

.behind-img{
  float: left;
  width: 320px;
  height: 510px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin: 10px;
  display: none;
}

.review{
  padding: 10px;
}
