*{
  margin: 0;
  left: 0;
  box-sizing: border-box;
}

body{
  background-color: grey;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 20px;
  background-color: #000;
}

h1{
  color: red;
  font-size: 30px;
  font-weight: bolder;
}

.flag{
  width:15px;
}

.fas{
  color: yellow;
}

.container-movies, .container-tv{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.template{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.poster {
  padding: 10px;
}
